<%- include('partials/header'); -%>
<div class="container">
    <div class="row center">

        <div class="col-md-9">
            <div class="img-thumbnail">

                <img src="<%=story.url%>" />

                <div class="caption-full">
                    <h4 class="float-right"><%=story.viewed.length%> Reads</h4>
                    <h4><%=story.name%></h4>
                    <p><%=story.desc%></p>
                </div>
            </div>


        </div>
    </div>

</div>


<!-- https://theculturetrip.com/pacific/new-zealand/articles/the-most-beautiful-camping-sites-in-new-zealand/ -->